name: publish
on:  # yamllint disable-line rule:truthy
  release:
    types: [published]

env:
  UV_LOCKED: true

jobs:
  pypi:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true
      - run: uv sync -q --no-default-groups
      - run: gedai sys-info --developer
      - run: uv build
      - uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          tag_name: ${{ github.event.release.tag_name }}
      - run: uv publish --trusted-publishing always